<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385961846021-umc5bar0ho54lrvj1s6d12h32g3sfpl9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385961846021-umc5bar0ho54lrvj1s6d12h32g3sfpl9</string>
	<key>API_KEY</key>
	<string>AIzaSyAYDxDaKHcSUD4zW3hdkmNeN6rquFw04MM</string>
	<key>GCM_SENDER_ID</key>
	<string>385961846021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEducationApp</string>
	<key>PROJECT_ID</key>
	<string>education-app-3f147</string>
	<key>STORAGE_BUCKET</key>
	<string>education-app-3f147.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385961846021:ios:382ef0cdbd2551248a436c</string>
</dict>
</plist>